@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body
{
	font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
}
header
{
	background: #333;
	color: #fff;
	padding: 12px 60px;
}
.wrapper
{
	max-width: 1200px;
	margin: 0 auto;
}
header nav
{

}